extends ../../layouts/default

block head
 title View Jobs

block body
 div.row
  div.col-sm-12
   div.page-header
    h1 View Jobs
   ul.events
    each job, i in data
     li
      | #{job.title}
      p #{job.date}
      a(href='/jobs/show/#{job._id}',
      class='btn btn-default') Read More
 include _paginate